<div class="mt-5">
  <h5>User name: {{user.userName}}</h5>
  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.maxlength">Email must be at max 40 characters</div>
          <div *ngIf="f.email.errors.pattern">Email must be correct format</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="number" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Phone is required</div>
          <div *ngIf="f.phone.errors.maxlength">Phone must be at max 15 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select formControlName="country" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
          <option [value]="'CN'">China</option>
          <option [value]="'EN'">England</option>
          <option [value]="'FR'">France</option>
          <option [value]="'SG'">Singapore</option>
          <option [value]="'US'">USA</option>
          <option [value]="'VN'">Viet Nam</option>
        </select>
        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
          <div *ngIf="f.country.errors.required">Country is required</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="comfirmPassword">Comfirm Password</label>
        <input type="password" formControlName="comfirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.comfirmPassword.errors }" />
        <div *ngIf="submitted && f.comfirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.comfirmPassword.errors.required">Comfirm Password is required</div>
          <div *ngIf="f.comfirmPassword.errors.minlength">Comfirm Password must be at least 6 characters</div>
        </div>
        <div *ngIf="submitted" class="invalid-feedback">
          <div *ngIf="f.comfirmPassword.value !== f.password.value">Comfirm Password must be match Password</div>
        </div>
      </div>
    </div>


    <div class="form-group d-flex justify-content-between p-3">
      <button *ngIf="!disabled" type="submit" [disabled]="loading" class="btn btn-success w-100">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Update
      </button>
      <button *ngIf="disabled" (click)="enableEdit()" class="btn btn-primary w-100 mr-3 d-flex">
        Edit
      </button>
      <button *ngIf="!disabled" (click)="cancelEdit()" class="btn btn-secondary ml-3 w-100 d-flex">
        Cancel
      </button>
    </div>
  </form>
</div>
