/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #343A40;
  padding: 20px 0px;
  width: 100%;
  color: white;
  text-align: center;
}
